#main-wrap {
    width: 80%;
    height: auto;
    padding: 10px;
    background-color: #000;
    float: left;
}

#banner {
    height: 150px;
    padding: 10px;
    border-radius: 20px;
    background-image: url(img/2.jpg);
    background-repeat: no-repeat;
}

.logo {
    text-align: center;
    top: 2px;
}



#menu li a {
    font-size: 18px;
    font-family: inherit;
    color: #fff;
    text-decoration: none;
}

#menu li a:hover {
    color: #696969;
}

#menu li {
    display: inline;
    border-left: solid 1px #fff;
    margin-left: 11%;
    padding-left: 11%;
}

#menu li.first {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
}

#menu ul {
    margin: 0;
    padding: 15 0 15 0;
    text-align: center;
}

.left-bar,
.right-bar {
    width: 24%;
    height: 600px;
    float: left;
    font-family: inherit;
    text-align: center;
}

.left-bar p a {
    color: #fff;
    line-height: 15px;
    text-decoration: none;
}

.right-bar p{
    color: #fff;
    font-size: 15px;
    font-family: inherit;
    text-align: center;
    padding: 5px;
    line-height: 28px;
}

.body {
    width: 50%;
    height: auto;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.75);
    float: left;
    padding-bottom: 20px;
}

.body p {
    font-size: 20px;
    font-family: inherit;
    color: rgb(50,50,50);
    font-weight: bolder;
    padding: 10px ;
    text-align: center;
    border-top: 1px solid #fff;
}

.body p:first-child {
    border-top: 0px;
}

.top {
    font-size: 15px;
    font-family: inherit;
    color: rgb(30,30,30);
    text-align: center;
}

.top a {
    text-decoration: none;
}

.top a:visited {
    color: rgb(75,75,75);
}

.sep-y {
    width: 1%;
    height: 600px;
    float: left;
}

.img-list {
    margin: 10px;
    height: auto;
}

.img-list img {
    width: 48.5%;
    float: left;
    padding: 0 0 10 5;
}

.sep-x {
    width: 600px;
    height: 20px;
    float: left;
}

#footer {
    height: 35px;
    border-radius: 5px;
    background-image: url(img/2.jpg);
    background-repeat: no-repeat;
}

#footer p {
    text-align: center;
    padding: 8 5 5 5;
    font-size: 14px;
    font-family: inherit;
    color: rgb(50,50,50);
}

.clr {
    clear: both;
}



